body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  text-align: center;
}

#board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box {
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 10px solid black;
  margin: 5px;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: 500;
  width: 3rem;
  height: 3rem;
  
}

.row {
  display: flex;
}

